<!DOCTYPE html>
<html lang="cs" class="no-js">

<head>
	{% include '_head.html' %}
</head>

<body>

	{% include '_header.html' %}

	<section role="main">
		{% include layoutFile %}
	</section>

	{% include '_footer.html' %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>

</html>